<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- namespace : package-name.class-name -->
<mapper namespace="com.teamproject3.mapper.PossibleMapper">
	
<!--  	<insert id="insertPurpose" parameterType="java.util.list">
		INSERT INTO registerpurpose ( purpose )
		VALUES ( #{purpose} )
	
	</insert> -->

 	<insert id="insertPurpose" parameterType="java.util.List">
		<foreach collection="list" item="item" open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" >
			INTO registerpurpose (memberno, purpose) VALUES (#{item.memberNo}, #{item.purpose})
		</foreach>
	</insert>
 
 
 	<resultMap type="Posvisit" id="registerpurposeMap">
 		<id column="memberno" property="memberNo" />
 		<result column="purpose" property="purpose" />
 	</resultMap>

	<select id="selectPurposeByMemberNo" parameterType="int"
		resultType="Posvisit">	<!-- 상세보기 +resultMap 추가 -->
		SELECT memberno, purpose from purpose
	</select>
</mapper>