<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.teamproject3.vo.CenterVo" alias="Center"/>
		<typeAlias type="com.teamproject3.vo.ProductVo" alias="Product"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@211.197.18.246:1551:xe" />
				<property name="username" value="jooho" />
				<property name="password" value="9922" />
			</dataSource>
		</environment>
		
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@211.197.18.246:1551:xe" />
				<property name="username" value="jooho" />
				<property name="password" value="9922" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/teamproject3/mapper/center-mapper.xml" />
		<mapper resource="com/teamproject3/mapper/product-mapper.xml" />
	</mappers>
</configuration>